header {
    background-color: #924f1b;  /*cor do fundo do cabeçalho*/
    text-align: center; /*alinhamento do texto*/
    padding: 25px; /*tamanho do cabeçalho*/

}

header h1 {
    color: #f8ebbe; /*cor das letras*/
    font-size: 30px; /*sempre para tamanho das letras*/
}

/*ponto e nome da classe para chamar do html*/
.cafe {
padding: 150px; /*tamanho do cabeçalho*/
background-color: #e2ac3f; /*cor do fundo do cabeçalho */
display: flex;
justify-content: center;
gap: 26px;
align-items: center;
}

/*ponto e nome da classe para chamar do html*/
.cha {
    color: #924f1b;
    padding: 150px;  /*tamanho do cabeçalho*/
    background-color:#2a0308 ;  /*cor do fundo do cabeçalho */
    text-align: center;  /*alinhamento do texto*/
    padding: 30px;


}

.coffee {
    padding: 150px;  /*tamanho do cabeçalho*/
    background-color:#f8ebbe; /*cor do fundo do cabeçalho */
    display: flex; /*tornando os itens flex*/
    justify-content: center; /*alinhando o botao ao centro*/

}

/*chamando o botao que esta dentro da sessao*/
.coffee button {
    width: 150px; /*largura do botao*/
    padding: 10px; /*preechimento do botao*/
    background-color: rgb(105, 102, 102); /*cor de fundo com opacidade*/
    border-radius:5px ; /*arredontamento do botao*/


}

/*rodape do site*/
footer {
background-color:#7ba58d ;  /*cor do fundo do cabeçalho */
color: white;
font-size: 20px;
padding: 30px;
text-align: center;

}


footer i {
    font-size: 40px;
}
